<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="E-Mail ...">
    <input type="password" name="password" placeholder="Password ...">

    <button type="submit">Sign In</button>
</form>